.bgAbout {
    background-color: $bg;

}
.about {


    &__title {

        text-align: center;
        font-size: 3rem;

    }

    &__presentation {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media (min-width: $medium-screen) {
            gap: 9rem;

        }
        gap: 2rem;
        & p {
            margin-bottom: 1.2em;
            color: $red;
        }

        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.2em;

            &__title {
                font-family: $playfair-bold;
                font-weight: 700;
                font-size: 3rem;
                color: $red;
            }
        }
        &__img {
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
.about__presentation__content__paragraph p{
    font-size: 1em;
}
.career {

    &__title {

    }
    &__container {

        &__list {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            gap: 15.625rem;

            &__items {

                font-size: 1.5rem;
                text-align: right;
                &:nth-child(even) {
                    text-align: left;



                    & .cueCareer {
                        right: 130px;
                        left: auto;
                        transform: scaleX(-1) translateY(-50%);

                    }
                    & .ballCareer {
                        right: 20px;
                        left: auto;


                    }

                }


                &__content {
                    position: relative;



                    .cueCareer {
                        display: flex;
                        position: absolute;
                        top: 40%;
                        left: 130px;
                        min-height: 100px;
                        img {
                            width:66.5rem;
                            height: auto;

                        }
                        transform: translateY(-50%);

                    }


                    .ballCareer {
                        position: absolute;
                        top: 8px;
                        left: 20px;
                        width: 100px; height: auto;
                    }

                    &__date {
                        display: block;
                        padding-top: 6rem;
                        line-height: 1.6;
                    }
                    &__title {
                        font-family: $playfair-bold;

                    }
                }

            }
        }

    }
}

.step {



    &__container {
        @include containerWithBalls;
    }
}
.tools {

    overflow: hidden;

    &__title {

    }
    &__list {

        display: flex;
        width: calc(198px * 14);
        align-items: center;
        animation: scroll 13s linear infinite;
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% {
                transform: translateX(calc(-198px * 7));
            }
        }
        &__items {
            margin: 0 4em;
            width: 70px;
            height: auto;

            &__img {
                width: 70px;
                height: auto;
            }
        }
    }
}


.comingLeftBalls {
    animation: comingLeftBalls 1s ease-in-out;
}
@keyframes comingLeftBalls {
    from {
        transform: translateX(-300px) rotate(-720deg);
    }
    to {
        transform:  translateX(0) rotate(0);
    }
}
.leavingLeftBalls {
    animation: leavingLeftBalls 1s ease-in-out forwards;
}
@keyframes leavingLeftBalls {
    0% {
        transform: translateX(0) rotate(0);
    }
    30% {
        transform: translateX(0) rotate(0);

    }
    100% {
        transform: translateX(-300px) rotate(-720deg);

    }
}
.comingRightBalls {
    animation: comingRightBalls 1s ease-in-out;
}
@keyframes comingRightBalls {
    from {
        transform: translateX(300px) rotate(720deg);
    }
    to {
        transform: translateX(0) rotate(0);
    }
}
.leavingRightBalls{
    animation: leavingRightBalls 1s ease-in-out forwards;

}
@keyframes leavingRightBalls {
    0% {
        transform: translateX(0) rotate(0);
    }
    30% {
        transform: translateX(0) rotate(0);

    }
    100% {
        transform: translateX(300px) rotate(720deg);

    }
}

@keyframes appearLeftBall {
    0% {
        transform: translateX(-50vw) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);

    }

}

.cueCareerNormal {
    animation: cueCareerNormal 1s linear;
}
@keyframes cueCareerNormal {
    0% {
        transform: translateY(-50%) translateX(0);


    }
    15% {
        transform: translateY(-50%) translateX(40px);

        }
    30% {

        transform: translateY(-50%) translateX(-10px);
    }

    100% {
        transform: translateY(-50%) translateX(0);

    }
}
.cueCareerReverse {
    animation: cueCareerReverse 1s linear;
}
@keyframes cueCareerReverse {
    0% {
        transform: translateY(-50%) scaleX(-1) translateX(0);


    }
    15% {
        transform: translateY(-50%) scaleX(-1) translateX(40px);

    }
    30% {

        transform: translateY(-50%) scaleX(-1) translateX(-10px);
    }

    100% {
        transform: translateY(-50%) scaleX(-1) translateX(0);

    }
}

