.bgAbout {
    background-color: $bg;

}
.about {
    padding: 44px 25px;
    margin: auto;
    max-width: 1200px;
    display: flex;
    gap: 44px;
    flex-direction: column;
    align-items: center;
    &__title {
        font-family: $playfair-bold;
        font-weight: 700;
        text-align: center;
        font-size: 49px;
        color: #5F021F;
    }

    &__presentation {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 44px;
        & p {
            font-family: $poppins-regular;
            font-size: 19px;
            margin-bottom: 20px;
            color: $red;
            line-height: 1.4;
        }
        
        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;

            &__title {
                font-family: $playfair-bold;
                font-weight: 700;
                font-size: 39px;
                color: $red;
            }
            &__paragraph {
                font-family: $poppins-regular;
                font-size: 16px;
                line-height: 1.4;
            }
        }
        &__img {
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
.about__presentation__content__paragraph p{
    font-size: 1em;
}
.career {
    max-width: 1200px;
    margin: auto;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &__title {
        font-family: $playfair-bold;
        font-weight: 700;
        font-size: 39px;
        color: #5F021F;
    }
    &__container {
        display: grid;
        grid-template-columns: .75fr 1.25fr;
        justify-content: center;

        &__list {
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            gap: 200px;
            border-right: 3px solid $red;
            &__items {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 24px;
                text-align: right;
                &__date {
                    position: relative;
                    border-radius: 2px;
                    display: block;
                    &__billard {
                        margin-top: 20px;
                    }
                }
                &__title {

                }
            }
        }
        &__img {

            justify-self: center;
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}

.step {
    max-width: 1200px;
    margin: auto;
    padding: 30px 25px;

    &__title {
        font-family: $playfair-bold;
        font-weight: 700;
        font-size: 39px;
        color: #5F021F;
        margin-bottom: 20px;
    }
    &__container {
        @include containerWithBalls;
    }
}
.tools {
    max-width: 1200px;
    margin: auto;
    padding: 30px 25px;
    overflow: hidden;

    &__title {
        font-family: $playfair-bold;
        font-weight: 700;
        font-size: 39px;
        color: #5F021F;
        margin-bottom: 20px;
    }
    &__list {

        display: flex;
        width: calc(198px * 14);
        align-items: center;
        animation: scroll 13s linear infinite;
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% {
                transform: translateX(calc(-198px * 7));
            }
        }
        &__items {
            margin: 0 4em;
            width: 70px;
            height: auto;

            &__img {
                width: 70px;
                height: auto;
            }
        }
    }
}

@keyframes appearLeftBall {
    0% {
        transform: translateX(-50vw) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);

    }
    
}

