.bgAbout {
    background-color: $bg;

}
.about {


    &__title {

        text-align: center;
        font-size: 3rem;

    }

    &__presentation {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        @media (min-width: $medium-screen) {
            gap: 9rem;

        }
        gap: 2rem;
        & p {
            margin-bottom: 1.2em;
            color: $red;
        }
        
        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }


        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1.2em;

            &__title {
                font-family: $playfair-bold;
                font-weight: 700;
                font-size: 3rem;
                color: $red;
            }
        }
        &__img {
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
    }
}
.about__presentation__content__paragraph p{
    font-size: 1em;
}
.career {



    &__title {

    }
    &__container {
        display: grid;
        grid-template-columns: .75fr 1.25fr;
        justify-content: center;

        &__list {
            display: flex;
            flex-direction: column;
            padding: 20px 20px;
            gap: 200px;
            border-right: 3px solid $red;
            &__items {
                display: flex;
                flex-direction: column;
                gap: 20px;
                font-size: 24px;
                text-align: right;
                &__date {
                    position: relative;
                    border-radius: 2px;
                    display: block;
                    &__billard {
                        margin-top: 20px;
                    }
                }
                &__title {

                }
            }
        }
        &__img {

            justify-self: center;
            img {
                width: 100px;
                height: auto;
            }
        }
    }
}

.step {



    &__container {
        @include containerWithBalls;
    }
}
.tools {

    overflow: hidden;

    &__title {

    }
    &__list {

        display: flex;
        width: calc(198px * 14);
        align-items: center;
        animation: scroll 13s linear infinite;
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% {
                transform: translateX(calc(-198px * 7));
            }
        }
        &__items {
            margin: 0 4em;
            width: 70px;
            height: auto;

            &__img {
                width: 70px;
                height: auto;
            }
        }
    }
}

@keyframes appearLeftBall {
    0% {
        transform: translateX(-50vw) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);

    }
    
}

