//Hero

.hero {
    z-index: 0;
    padding: 0 2rem 4rem;
    background-color: $bg;
    overflow: hidden;

    .container__topBillards {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        position: relative;
        min-height: 100px;

        &__ball {
            position: absolute;
            top: 20px;
            left: 0;
            animation: ballTop 10s infinite;
            @keyframes ballTop {
                0% {
                    transform: translateX(200vw) rotate(0);

                }
                25% {
                    transform: translateX(0) rotate(-2190deg);

                }
                50% {
                    transform: translateX(20px) rotate(-2160deg);

                }
                71% {
                    transform: translateX(20px) rotate(-2160deg);

                }
                100% {
                    transform: translateX(-300vw) rotate(0deg);
                }
            }

            img {

            }
        }

        &__cue {
            position: absolute;
            top: 60px;
            left: 120px;
            animation: topCue 10s infinite;
            @keyframes topCue {
                0% {
                    transform: translateX(200%);
                }
                30% {
                    transform: translateX(200%);
                }
                50% {
                    transform: translateX(20px);
                }
                55% {
                    transform: translateX(60px);
                }
                65% {
                    transform: translateX(20px);
                }
                70% {
                    transform: translateX(60px);
                }
                71% {
                    transform: translateX(-10px);
                }
                90% {
                    transform: translateX(60px);

                }
                100% {
                    transform: translateX(-200%);
                }
            }

            img {
                width: 65.625rem;
                height: auto;
            }
        }
    }
    .hero__container {
        display: flex;
        flex-direction: column;
        max-width: 34.375rem;
        margin: auto;

    }

    &__title {
        @media (max-width: 400px) {
            font-size: 2.4rem;
        }
        display: flex;
        flex-direction: column;
        font-family: $playfair-bold;
        align-items: center;
        font-size: 3rem;
        gap: 0.5em;
        color: $red;
        text-align: center;
        margin-bottom: 0;

        @media (min-width: $medium-screen) {
            font-size: 4.0625rem;
        }

        &__before,
        &__after {
            font-family: $playfair-regular;
            color: $wood;
            font-size: 2.375rem;
            font-weight: 400;


        }
    }

    &__quote {
        font-family: $poppins-italic;
        color: $red;
        text-align: center;
        padding: 2.5em 0 ;
        margin: auto;
        line-height: 1.6;

        @media (min-width: $medium-screen) {
            font-size: 1.25rem;
        }
    }

    &__container__cta {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        a {
            margin: auto;
        }
    }

    .container__botBillards {
        padding: 1rem 0;
        display: flex;
        align-items: center;
        max-width: 75rem;
        margin: auto;
        position: relative;
        min-height: 100px;

        &__ball {
            position: absolute;
            top: 20px;
            right: 0;
            animation: ballBot 10s infinite;
            @keyframes ballBot {
                0% {
                    transform: translateX(-200vw) rotate(0);
                }
                25% {
                    transform: translateX(0) rotate(2190deg);

                }
                50% {
                    transform: translateX(-20px) rotate(2160deg);

                }
                71% {
                    transform: translateX(-20px) rotate(2160deg);

                }
                100% {
                    transform: translateX(300vw) rotate(0deg);
                }
            }
        }

        &__cue {
            position: absolute;
            top: 60px;
            right: 120px;
            animation: botCue 10s infinite;
            @keyframes botCue {
                0% {
                    transform: translateX(-200%);
                }
                30% {
                    transform: translateX(-200%);

                }
                50% {
                    transform: translateX(-20px);
                }
                55% {
                    transform: translateX(-60px);
                }
                65% {
                    transform: translateX(-20px);
                }
                70% {
                    transform: translateX(-60px);
                }
                71% {
                    transform: translateX(0px);
                }
                90% {
                    transform: translateX(-60px);
                }
                100% {
                    transform: translateX(200%);
                }
            }


            img {
                transform: scaleX(-1);
                width: 65.625rem;
            }
        }
    }

    &__scroll {
        z-index: 0;
        text-align: center;
        font-family: $playfair-regular;
        font-size: 25px;
        color: $red;
        animation: upDown 1s ease-in-out infinite;

        @keyframes upDown {
            0% {
                transform: translateY(10px);
            }
            50% {
                transform: translateY(-10px);
            }
            100% {
                transform: translateY(10px);
            }
        }

        &:after {
            content: "";
            background-image: url("/wp-content/themes/portfolio/resources/img/arrow.svg");
            background-repeat: no-repeat;
            display: block;
            width: 2.1875rem;
            height: 9px;
            margin: 10px auto;
        }
    }
}

//Last Projects

.lastProjects {



    &__title {
        font-family: $playfair-bold;
        font-size: 2.375rem;
        font-weight: 700;
        color: $red;

        span {
            display: block;
            font-weight: 400;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 3.125em;

        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6em;
        }

        @media (min-width: $wide-screen) {
        }
    }
}

