
.bg {
    background-color: $bg;

}

.projectsHome {

    &__title {
        text-align: center;
        font-size: 3rem;

    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        gap: 2rem;

        &__link {
            text-align: center;
            background-color: transparent;
            color: $red;

        }

        .is_active {
            background-color: $red;
            color: white;
        }
    }
}

.projectsList {

    &__container {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6rem;
        }
        @media (min-width: $wide-screen) {

        }
    }
}


