.opacity_none {
    opacity: 0;
}
.appear {
    transform-origin: center ;
    animation: .5s appear linear;

}
@keyframes appear {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }

}

$animations: (
        1: 2.5s,
        2: 2s,
        3: 1.5s,
        4: 1.5s,
        5: 2s,
        6: 2.5s
);

@for $i from 1 through 6 {
    .appearLeft:nth-child(#{$i}) {
        @if $i <= 3 {
            animation: appearLeftMobile 2.5s linear;
            @media (min-width: $medium-screen) {
                animation: appearLeftMediumScreen map-get($animations, $i) linear;
            }
        } @else {
            animation: appearRightMobile 1.5s linear;
            @media (min-width: $medium-screen) {
                animation: appearRightMediumScreen map-get($animations, $i) linear;
            }
        }
    }
}

@keyframes appearLeftMobile {
    0% {
        transform: translateX(-500%) rotate(0);
    }
    50% {
        transform: translateX(25px) rotate(450deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

@keyframes appearRightMobile {
    0% {
        transform: translateX(500%) rotate(0);
    }
    50% {
        transform: translateX(-25px) rotate(-450deg);
    }
    100% {
        transform: translateX(0) rotate(-360deg);
    }
}

@keyframes appearLeftMediumScreen {
    0% {
        transform: translateX(-500%) rotate(0);
    }
    75% {
        transform: translateX(6em) rotate(450deg);
    }
    100% {
        transform: translateX(0) rotate(360deg);
    }
}

@keyframes appearRightMediumScreen {
    0% {
        transform: translateX(500%) rotate(0);
    }
    75% {
        transform: translateX(-6em) rotate(-450deg);
    }
    100% {
        transform: translateX(0) rotate(-360deg);
    }
}
.appearLeftBall {
    animation: appearLeftBall 1.5s ease-in-out;

}
@keyframes appearLeftBall {
    0% {
        transform: translateX(-50vw) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(360deg);

    }

}
