footer {
    background-color: $bg;
    position: relative;
    z-index: 100;
    padding-top: 50px;

}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 30px;
    padding: 0 25px 50px;
    max-width: 1200px;
    margin: auto;
    @media (min-width: $medium-screen) {
        flex-direction: row;
    }
    &__section{
        display: flex;
        flex-direction: column;
        gap: 13px;
        line-height: 1.5;
        color: $red;
        align-items: flex-start;

        &__title {
            font-family: $playfair-regular;
            font-weight: bold;
            font-size: 20px;
        }

        &__list {
            &__items {

                &__links {
                    color: $red;

                    &:hover {
                        border-bottom: 1px solid $red;
                    }
                }
            }
        }
    }
}





/*.contact {

    &__link {
        display: block;
        position: relative;
        font-family: $playfair-bold ;
        font-size: 19px;
        color: white;
        padding: 16px 22px;
        background-color: $red;
        border-radius: 10px;
        transition: 0.1s;
        overflow: hidden;
        min-height: 20px;
        border: 2px solid $red;
        span {
            display: block;
            position: relative;
            z-index: 1;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transition: transform 0.3s ease-in-out;
                color: $red;
            }
        }

        &:before {
            content: "";
            width: 101%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            background-color: $bg   ;
            transform: translateX(100%);
            transition: transform 0.2s ease-in-out;

        }
        &:hover::before {
            animation: .2s ease-in-out;
            transform: translateX(0);
        }
        &:hover {
            color: $red;
            border: 2px solid $red;
        }
    }


}*/