footer {
    background-color: $bg;
    position: relative;
    z-index: 100;
    padding-top: 3.125rem

;

}
.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;

    gap: 1.875em;
    padding: 0 1.5em 3.125em;
    max-width: 75rem;
    margin: auto;
    @media (min-width: $medium-screen) {
        flex-direction: row;
    }
    &__section{

        display: flex;
        flex-direction: column;
        gap: .5em;
        line-height: 1.5;
        color: $red;
        align-items: flex-start;

        &__title {
            font-family: $playfair-regular;
            font-weight: bold;
            font-size: 1.25rem;
        }

        &__list {
            &__items {

                &__links {
                    color: $red;

                    &:hover {
                        border-bottom: 1px solid $red;
                    }
                }
            }
        }
    }
}





