
.header__containner {
    background-color: $bg;
    padding: 22px 25px 0;

}
body {
}
.nav {
    display: flex;
    z-index: 0;
    align-items: center;
    position: relative;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-bottom: 22px;
    border-bottom: 2px solid $red;

    @media (min-width: $medium-screen) {
        padding-bottom: 11px;
        justify-content: space-between;
    }

    &__link {
        position: relative;
        font-family: $playfair;
        font-weight: 700;
        color: $red;
        font-size: 1.8rem;
        z-index: 2;
    }
    #burger__button {
        z-index: 2;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;
        margin: 0;
        appearance: none;
        cursor: pointer;
        @media (min-width: $medium-screen) {
            display: none;
        }

        &:checked ~.nav__container {
            transform: translateX(0);
            transition: .1s;
        }

    }
    .burger__wrapper {
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 5px;
        position: absolute;
        background-color: $wood;
        padding: 10px;
        border-radius: 20px;
        top: 0;
        right: 0;
        cursor: pointer;
        @media (min-width: $medium-screen) {
            display: none;
        }

        &__lines {
            border-radius: 20px;
            background-color: $red;
            display: block;
            content: "";
            width: 22px;
            min-height: 3px;
        }

    }

    &__container {
        z-index: 0;
        background-color: $bg;
        top: 0;
        right: 0;
        width: 100%;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        min-height: 100vh;
        transform: translateX(100%);
        transition: .1s;
        padding-top: 10em;
        @media (min-width: $medium-screen) {
            flex-direction: row;
            position: relative;
            transform: none;
            width: auto;
            padding-top: 0;
            min-height: 0;
        }
        &__items {
            &__link {
                display: inline-block;
                font-size: 2rem;
                color: $red;
                padding: 16px 22px;
                border-radius: 10px;
                transition: .3s ease-in-out;
            @media (min-width: $medium-screen) {
                font-size: 1.4rem;
            }
                &:hover {
                    transition: .3s ease-in-out;

                    color: $bg;
                    background-color: $red;
                }
            }
        }
    }
}

.up {
        transition: .2s ease-in-out;

}
.middle {
        transition: .2s ease-in-out;

}
.down {
        transition: .2s ease-in-out;

}
.nav:has(#burger__button:checked) .burger__wrapper {
    .up {
        transform:  translateY(8px)rotate(45deg);
        transition: .2s ease-in-out;
    }
    .middle {
        opacity: 0;
        transition: .2s ease-in-out;

    }
    .down {
        transform:  translateY(-8px)rotate(-45deg);
        transition: .2s ease-in-out;

    }
}
@media (width > 1000px) {
    .burger__wrapper {
        background-color: $red;
    }
}
main {
}