@mixin containerWithBalls {

    display: flex;
    flex-direction: column;
    gap: 4em;

    &__article {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (min-width: $medium-screen) {
            display: grid;
            grid-template-columns: .5fr 1.5fr;
            grid-template-areas: "image titre"
                                     "image paragraph";

        }

        @media (min-width: $wide-screen) {
            grid-template-columns: .5fr 1.5fr;
            grid-template-areas: "image titre"
                                     "image paragraph";

        }
        &__img {
            width: 100px;
            height: auto;
            @media (min-width: $medium-screen) {
                align-self: center;
                justify-self: center;
            }
            @media (min-width: $medium-screen) {
                grid-area: image;
            }
        }
        &__title {
            font-family: $playfair-bold;
            font-weight: 700;
            font-size: 1.8rem;
            color: #5F021F;
            @media (min-width: $medium-screen) {
                grid-area: titre;
            }
        }
        &__paragraph {
            @media (min-width: $medium-screen) {
                grid-area: paragraph;
            }
        }
    }
}