@font-face {
    font-family: 'Georgia regular';
    src: url("../../fonts/Georgia/Georgia.ttf");
    font-style: normal;

}
@font-face {
    font-family: 'Georgia bold';
    src: url("../../fonts/Georgia/Georgia-Bold.ttf");
}

@font-face {
    font-family: 'Poppins regular';
    src: url("../../fonts/Poppins/Poppins-Black.ttf");

}
@font-face {
    font-family: 'Poppins italic';
    src: url("../../fonts/Poppins/Poppins-Italic.ttf");

}
@font-face {
    font-family: 'Impact';
    src: url("../../fonts/Impact/Impact.ttf");
}