//Colors

$bg: #FFF5E8;
$wood: #D8B384;
$red: #5F021F;

//Fonts
$georgia: 'Georgia-regular', Helvetica, sans-serif;
$poppins-regular: 'Poppins regular', Helvetica, sans-serif;
$poppins-italic: 'Poppins regular', Helvetica, sans-serif;
$impact: 'Impact';


//Screens