//Colors

$bg: #FFF5E8;
$wood: #D8B384;
$red: #5F021F;

//Fonts
$playfair-regular: "Playfair-regular", Merriweather, serif;
$playfair-bold: "Playfair-bold", Merriweather, serif;
$poppins-regular: 'Poppins-regular', Helvetica, sans-serif;
$poppins-italic: 'Poppins-italic', Helvetica, sans-serif;

//Screens

$medium-screen: 817px;
$wide-screen: 1024px;



//font-face

